<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Hayley</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/pages/css/index.css">

	<!-- SPELLS -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script> <!-- load angular -->

	<script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script> <!-- load bootstrap -->

	<script type="text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<script type="text/javascript" src="/js/service.js"></script> 
	<script type="text/javascript" src="/js/controllers.js"></script> 
	<script type="text/javascript" src="/js/core.js"></script>

</head>

<body ng-app='hayley' ng-controller='mainController'>
	<div class="header">
		<img class="image" src="/pages/images/HayleyPerson.png"/>
		<div class="text">
			<div class="title">hayley</div>
			<div class="description">your personal r.s.v.p manager</div>
		</div>
	</div>
	<form class="new-user-form" role="form">
		<div class="text">new club member:</div>
		<input type='text' class="form-control name" placeholder='name' ng-model="userDetail['name']">
		<input type='text' class="form-control phone" placeholder='phone number' ng-model="userDetail['phone']">
		<button class="btn btn-success btn-default" ng-click="addUser()">join</button>
	</form>

	<div class="content">
		<div class="well well-lg answer-card" ng-repeat="res in responses">
			<h2>{{ res.question }}</h2>
			<div class="block">
				<h2 class="yes">Yes</h2>
				<div class="answer" ng-repeat="yes_user in res.yes_users track by $index">
				{{yes_user}}
				</div>
			</div>
			<div class="block">
				<h2 class="no">No</h2>
				<div class="answer" ng-repeat="no_user in res.no_users track by $index">
					{{no_user}}
				</div>
			</div>
		</div>
	</div>
</body>